{% extends 'base.html.twig' %}

{% block body %}

<h2> {% trans from "tablas" %}Mis Pedidos{% endtrans %} </h2>

<div id="tabla">
{% if pedidos == null %}
<h4>No has realizado ningún pedido</h4>
{% else %}

	<table>
		<tr>
			<th>{% trans from "tablas" %}Referencia{% endtrans %}</th>
			<th>{% trans from "tablas" %}Fecha{% endtrans %}</th>
			<th>{% trans from "tablas" %}Artículos{% endtrans %}</th>
			<th>{% trans from "tablas" %}Importe{% endtrans %}</th>
		</tr>
		
			{% for pedido in pedidos %}
			
		<tr>
			
				<td>{{pedido.id}} 
				{% if pedido.getIsdevolucion %}
				{% trans from "tablas" %}(Reemplazo){% endtrans %}
				{% endif %}
				</td>
				<td>{{pedido.fecha}}</td>
				<td><a href="{{path('show_order_products',{username: app.session.get('username'), id : pedido.id})}}">
				{% trans from "tablas" %}Ver productos{% endtrans %}</a></td>
				<td>{{pedido.importe}} €</td>
				
		</tr>
			
			{% endfor %}
			
	</table>		
{% endif %}
</div>
	
		
		

{% endblock %}