<div id="nav">
	<div id="bienvenida">
		Bienvenid@ {{app.session.get('username')}}
	</div>
	
	<div id="menu_derecho">
	<ul>
		<li><a href="{{path('show_profile',{username : app.session.get('username')})}}">Mi perfil</a></li>
		<li><a href="{{path('show_orders',{username : app.session.get('username')})}}">Mis pedidos</a></li>
		<li><a href="{{path('show_cart',{username : app.session.get('username')})}}">Mi carrito</a></li>
	</ul>
	</div>
		
	
		
			
</div>